<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>To-Do List</title>
</head>

<body>
    <h1>To-Do List</h1>
    <a href="/create_task">
        <button>Adicionar tarefa!</button>
    </a>
    <a href="/view_tasks">
        <button>Tarefas a fazer</button>
    </a>
    <a href="/view_in_progress">
        <button>Tarefas sendo feitas</button>
    </a>
    <a href="/view_completed">
        <button>Tarefas completas</button>
    </a>
    <a href="/edit_task">
        <button>Editar</button>
    </a>

    </form>

</body>
</html>