<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title has-text-centered">Bem-vindo à To-Do List</h1>
        <div class="buttons is-centered">
            <a href="/create_task" class="button is-primary">Adicionar Tarefa</a>
            <a href="/view_tasks" class="button is-link">Ver Tarefas</a>
        </div>
    </div>
</body>
</html>