<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Lista de Tarefas</h1>
        
        {% if tasks %}
            {% for task in tasks %}
                <div class="task-card">
                    <p><strong>Descrição:</strong> {{ task.descricao }}</p>
                    <p><strong>Data de inicio:</strong> {{ task.data_criacao }}</p>
                    <p><strong>Data para finalizar:</strong> {{ task.data_conclusao if task.data_conclusao else 'Não definida' }}</p>
                    <a href="{{ url_for('edit_task', idtarefas=task.idtarefas) }}" class="btn">Editar</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Nenhuma tarefa cadastrada.</p>
        {% endif %}
    </div>

</body>
</html>

